@page "/profile/{UserName}"
@inject IMediaAccountService _mediaAccountService
  
<div style="margin-top:50px" class="header__wrapper">
              
    <div class="cols__container">
        <div class="left__col">
            <div class="img__container">
                <img src="@mediaAccount.Photo" alt="Anna Smith" />
                <span></span>
            </div>
            <h2>@mediaAccount.FullName  </h2>
            <p>@mediaAccount.UserName</p>
            

            <ul class="about">
                <li><span>@mediaAccount.Followers.Count()</span>Followers</li>
                <li><span>@mediaAccount.Following.Count()</span>Following</li>
                <li><span>@mediaAccount.Posts.Count()</span>Photos</li>
            </ul>
            <div style="margin-top:20px;" class="nav-profile">
@*                 <button class="btn-main btn-main-primary">Follow</button> Твоя сторінка того нема кнопки підписатися
 *@            </div>
           <div class="content">
                <p>
                    @mediaAccount.Description
                </p>
            </div> 
        </div>

    </div>
    <div class="right__col">
        <div class="photos">
            @if(mediaAccount.Posts.Count != 0)
            {
                @foreach (var item in mediaAccount.Posts)
                {
                    <img class="profile-img" src="@item.ImageUrl" alt="Photo" />

                }
            }
            else
            {
                <h7>When you share photos, they will appear on your profile.</h7>
            }
           
        </div>
    </div>
</div>
       

@code{
    [Parameter]
    public string UserName { get; set; }

    private MediaAccount mediaAccount = new();


    protected override async Task OnInitializedAsync()
    {
        mediaAccount = await _mediaAccountService.GetAccountByUserName(UserName);
    }
}